# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.skinet.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore local configuration
[Bb]in/
[Oo]bj/
API/appsettings.json
API/appsettings.Development.json
appsettings.json
appsettings.Development.json
API/appsettings.json
